*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: flex-start;
    background: gainsboro;
    align-items: center;
}

.logo img{
    display: flex;
    width: 90px;
    margin-right: 15px;
    justify-self: center;
}