<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/header.ejs') %> 
    <div class="hero">
        <div class="title">
            <h1>Estudiamos para formar parte del talento Digital</h1>
        </div>
        <div class="paragraph">
            <p>Desarrollamos las habilidades digitales más demandadas del mercado y reconvertimos nuestra profesión.</p>
        </div>
        <div class="profiles">
            <a href="/students/profiles">Conoce nuestros perfiles</a>
        </div>
    </div>
        <%- include('./partials/footer.ejs') %> 
</body>
</html>