<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/header.ejs') %> 
    <div class="hero">
        <div class="title">
            <h1>Estudiamos para formar parte del talento Digital</h1>
        </div>
        <div class="paragraph">
            <p>Desarrollamos las habilidades digitales más demandadas del mercado y reconvertimos nuestra profesión.</p>
        </div>
        <div class="profiles">
            <a href="/students/profiles">Conoce nuestros perfiles</a>
        </div>
    </div>

    <section>
        <div class="container">

            <div class="card">
                <img class="imagen-grande" src="./images/group_work_mobile.jpg" alt="">
                <div class="container-title">
                    <h3>Empezamos formando parte de un grupo</h3>
                </div>
                <div class="container-paragraph">
                    El staff se encargara de generar grupos de trabajo a traves de un formulario, que tomara tus habilidades para hacerte parte de un grupo con diversas capacidades.
                </div>
            </div>


            <div class="card">
                <img class="imagen-chica" src="./images/wireframe_mobile.jpg" alt="">
                <div class="container-title">
                    <h3>Plasmando una idea sobre un wireframe</h3>
                </div>
                <div class="container-paragraph">
                   La primer tarea que realizamos como grupo, es elegir un tema a tratar e idear un wireframe donde colocaremos las partes de nuestro sitio web. A futuro esta sera nuestra base. 
                </div>
            </div>

            <div class="card">
                <img class="imagen-grande" src="./images/agile_mobile.jpg" alt="">
                <div class="container-title">
                    <h3>Utilizamos metodologias agiles</h3>
                </div>
                <div class="container-paragraph">
                    Generamos un tablero en Trello donde le damos seguimiento a los sprint que van surgiendo en nuestro proyecto. 
                    Tambien realizamos una Weekly donde nos sincronizamos como grupo. 
                </div>
            </div>






            </div>
    </section>
        <%- include('./partials/footer.ejs') %> 
</body>
</html>