*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color-background: #060606;
    --second-color-background: #2C2C31;
    --third-color-background: #18181B;
    --main-color-things: #8A6DF1;
    --second-color-things: #00CC7E;
    --main-color-button: #3333FF;
    --title-violeta: #A18FDF;
    --title-verde: #69E4B5;

} 


nav{
    display: flex;
    justify-content: center;
    background: #060606;
    align-items: center; 
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: var(--third-color-background);
}

.title, .paragraph{
    margin-top: 5%;
    margin-bottom: 2.5%;
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
}

.profiles{
    background-color: var(--main-color-button);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    margin-bottom: 5%;
    padding: 2%;
}

.profiles a{
    cursor: pointer;
    color: #fff;

}

a{
    text-decoration: none;
}

.container, .students{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Archivo', sans-serif;
}

.card, .student-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 5%;
    border-radius: 15px;
    margin-top: 5%;
}

.container-title, .container-paragraph{
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-title h3{
    text-align: center;
}

.imagen-grande{
    width: 100%;
    border-radius: 15px;
}

.imagen-chica{
    width: 50%;
    border-radius: 15px;
}

.students{
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--third-color-background);
}

.student-card{
    background-color: var(--second-color-background);
    color: #fff;
    border: 2px solid var(--second-color-things);
}

.container-title h3, .container-title p{
    text-align: center;
}

.marco-violeta{
    border: 2px solid var(--title-violeta);
}

.marco-verde{
    border: 2px solid var(--title-verde);
}

.title-violeta{
    color: var(--title-violeta);
    font-size: large;
}

.title-verde{
    color: var(--title-verde);
    font-size: large;
}

footer{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Archivo', sans-serif;
}


